
<!-- <div class="row">
  <div ng-controller="MapCtrl" class="col-md-12">
    <leaflet defaults="defaults" events="events" geojson="geojson" center="center" height="580px" width="540px"></leaflet>
    </div>
  </div>
</div>
<div ng-controller="HomeCtrl">
  <select ng-model="showStory" ng-init="showStory.county= 'Alameda'"  data-ng-options="location.county for location in locations">
        </select>
<ul ng-repeat="story in stories">
    <li ng-if="story.location.county == showStory.county " ng-show="story.published">{{story.title}} {{story.author.first_name}} {{story.author.last_name}} {{story.location.county}}</li>
  </ul>
</div>
 -->