
<!-- <div class="row">
  <div ng-controller="MapCtrl" class="col-md-4">
    <leaflet defaults="defaults" events="events" geojson="geojson" center="center" height="580px" width="540px"></leaflet>
  </div> -->

  <div class="col-md-8">
    <div ng-controller="HomeCtrl">
      <select ng-model="showStory" ng-init="showStory.county= 'Alameda'"  data-ng-options="location.county for location in locations">
      </select>

      <div class="row story-container" ng-repeat="story in stories">
        <div class="story" ng-if="story.location.county == showStory.county " ng-show="story.published">
        <div class="col-xs-6">
          <h2>{{story.title}}</h2>
          <h3>{{story.author.first_name}} {{story.author.last_name}}</h3>
          <iframe width="100%" height="450" scrolling="no" frameborder="no" ng-src="{{trustSrc(story.track_id)}}"></iframe>
          {{story.location.county}}

        </div>
        </div>
      </div>
    </div>
  </div>
</div>