<div class="bg-ca">
<div class="row">
  <div class="col-xs-12">
    <h1>About</h1>
  </div>
</div>
<div class="row">
 <div class="col-xs-6">
  <div class="line">
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-6 ">
    <div class="about">
    <p>Everybody eats, and food propels storytelling. This radio (and print) series will travel county by county reporting stories about California and Californians through the lens of food.  The series, California Foodways, will feature people and places at the intersection of food, culture, history and economy.</p>

    <p>Stories like…a restaurant that inspired a national fast food chain, and desegregation; an unlikely pop-up café on the Pacific Crest Trail; inmates working at a dairy in a Central Valley prison; a baseball team named for a crop; and the only coffee farmer in California.</p>
  </div>
  </div>
</div>
</div