<div class="bg-ca">
<div class="row">
  <div class="col-xs-12">
    <h1>Contact</h1>
  </div>
</div>
<div class="row">
 <div class="col-xs-6">
  <div class="line">
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-6 ">
    <div class="about">
    <a href="https://www.facebook.com/californiafoodways"><i class="fa fa-facebook-square"></i></a>
    <a href="https://twitter.com/cafoodways"><i class="fa fa-twitter-square"></i></a>
    <a href="mailto:californiafoodways@gmail.com"><i class="fa fa-envelope-square"></i></a>
  </div>
  </div>
</div>
</div