<div class="bg-ca">
<div class="row">
  <div class="col-xs-12">
    <h1>Support</h1>
  </div>
</div>
<div class="row">
 <div class="col-xs-6">
  <div class="line">
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-6 ">
    <div class="about">
      <p>It takes about $2500 to report and produce even the shortest pieces in California Foodways. Any donation from you helps. Thanks!</p>
    <div class="row">
      <div class="col-xs-12 text-center">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" >
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7LQSR7JJ97W68">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
       </div>
    </div>
  </div>
  </div>
</div>
</div