// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// fonts
@font-face {
    font-family: 'cocogooseregular';
    src: url('fonts/cocogoose_trial-webfont.eot');
    src: url('fonts/cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cocogoose_trial-webfont.woff2') format('woff2'),
         url('fonts/cocogoose_trial-webfont.woff') format('woff'),
         url('fonts/cocogoose_trial-webfont.ttf') format('truetype'),
         url('fonts/cocogoose_trial-webfont.svg#cocogooseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Variables
$bg-color: #FFFBF2;
$accent-color-faded: rgba(232, 141, 80, .4);
$accent-color-full: rgba(232, 141, 80, 1);
$title-font: 'cocogooseregular';
$red:  #DE8E86;
$orange: #FDD684;
$blue: #C0DECB;
$dark-green: #BAC8A9;
$colors: ($red, $orange, $blue, $dark-green);
$width: (25%, 50%, 75%, 100%);
$margin:(75%, 50%, 25%, 0);

// mixins
@mixin transition{
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@mixin transition{
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

// Main
html, body, .container-fluid{
  background-color: $bg-color;
  font-size: 35px;
  h2{
    font-size: 1rem;
  }
  h3{
    font-size: 0.5rem;
  }
}

h2, h3{
  font-family: $title-font;
}

.banner{
  img{
    height: 300px;
  }
}

#map {
  width: 960px;
  height: 500px;
}

// NAV
@for $i from 1 through length($colors){
  #navigation li:nth-last-of-type(#{$i}){
    background-color:  nth($colors, $i);
    }
}


@for $i from 1 through length($width){
  #navigation li:nth-last-of-type(#{$i}){
    width:  nth($width, $i);
    }
}


@for $i from 1 through length($margin){
  #navigation li:nth-last-of-type(#{$i}){
    margin-left:  nth($margin, $i);
    }
}


#navigation{
  width: 100%;
   li{
     @include transition;
     font-family: $title-font;
      display: block;
      list-style: none;
      font-size: 1rem;
      padding: 1.5%;
      opacity: .2;
      &:hover{
        opacity: .8;
        width: 100%;
        margin: 0;
      }
    }
}







