// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables
$bg-color: #FFFBF2;
$accent-color-faded: rgba(232, 141, 80, .4);
$accent-color-full: rgba(232, 141, 80, 1);

// mixins
@mixin transition{
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

// Main
html, body, .container-fluid{
  background-color: $bg-color;
}

.banner{
  img{
    height: 350px;
  }
}

#map {
  width: 960px;
  height: 500px;
}

// NAV
#navigation{
  width: 100%;
   li{
    @include transition;
      display: block;
      list-style: none;
      font-size: 20px;
      height: 25%;
      width: 100%;
      opacity: .5;
      &:hover{
        border-bottom: $accent-color-full 5px solid;
        opacity: 1;
      }
    }
}


