// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// fonts
@font-face {
    font-family: 'cocogooseregular';
    src: url('fonts/cocogoose_trial-webfont.eot');
    src: url('fonts/cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cocogoose_trial-webfont.woff2') format('woff2'),
         url('fonts/cocogoose_trial-webfont.woff') format('woff'),
         url('fonts/cocogoose_trial-webfont.ttf') format('truetype'),
         url('fonts/cocogoose_trial-webfont.svg#cocogooseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Variables
$bg-color: #DE8E86;
$accent-color-faded: rgba(232, 141, 80, .4);
$accent-color-full: rgba(232, 141, 80, 1);
$title-font: 'cocogooseregular';
$red:  #DE8E86;
$orange: #FDD684;
$blue: #C0DECB;
$dark-green: #BAC8A9;
$colors: ($red, $orange, $blue, $dark-green);
$width: (25%, 50%, 75%, 100%);
$margin:(75%, 50%, 25%, 0);

// mixins
@mixin transition{
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@mixin transition-slow{
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}


// Angular Animation with ngAnimate + animate.css

.ng-hide-remove {
    -webkit-animation: bounceInLeft 500ms;
    animation: bounceInLeft 500ms;
}

.ng-hide-add {
    -webkit-animation: bounceOutLeft 500ms;
    animation: bounceOutLeft 500ms;
    display: block !important;
}

.animate-repeat{
  max-height: 100%;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:100%;
}


.main-view-container{
    // Animations for the separate UI Views
    &.ng-enter,
    &.ng-leave{
        position: absolute;
        left: 0;
        right: 0;
    }

    &.ng-enter{
      -webkit-transition:.2s ease-out all .2s;
        transition:.2s ease-out all .2s;
    }

    &.ng-leave{
       -webkit-transition:.2s ease-out all;
        transition:.2s ease-out all;
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active{
        opacity: 0
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active{
        opacity:1;
    }
}

// General
[ng-cloak].splash {
  display: block !important;
}

.splash {
  display: none;
}

.splash {
  background: $blue;
  color: white;
  height: 1000px;
  width: 1000px;
  text-align: center;
  padding-top: 50%;
}


// fixed width
.container-fixed {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1200px;
  width: 1200px;
}
.container-fixed > hr {
  margin: 30px 0;
}

html, body{
  background-color: $bg-color;
  font-size: 25px;
  h2{
    font-size: 1rem;
  }
  h3{
    font-size: 0.5rem;
  }
  p{
    font-size: 0.5em;
  }
}

html, body, .container-fixed,  .cont, .main-view-container, .bg-ca{
  height: 100%;
}

.row{
  margin: 0;
}

.cont{
  position: relative;
  bottom: 68px;
  background-color: white;
  border-top: $red 5px solid;
  padding-top: 30px;
}

h1, h2, h3{
  font-family: $title-font;
}

.sponsors{
  background-image: image-url("bg.png");
  margin-top: -68px;
  padding: 35px 50px 0px 50px;
}

.active{
  opacity: 1!important;
  color: white!important;
}

// Top menu and banner

.bg{
  background-image: image-url("banner.jpg");
  height: 150px;
  background-size: cover;
  background-position: 50%;
}

.banner{
  text-align: center;
  height: 150px;
  overflow: none;
  h2{
  color: black;
  font-size: 50px;
  line-height: 10px;
  margin-top: 13%;
}
  img{
    height: 100px;
  }
}

.toggle{
  position: relative;
  bottom: 20px;
  z-index: 9999;
   h3{
    font-size: 25px;
    color: black;
    i{
     background-color: $red;
     border-radius: 25px;
     height: 40px;
     width: 40px;
     padding: 8px;
    }
   }
   .togglebutton{
    @include transition;
    cursor: pointer;
    &:hover{
      background-color: white;
    }
   }
}


.rotate{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


// NAV
@for $i from 1 through length($colors){
  #navigation a:nth-last-of-type(#{$i}){
    background-color:  nth($colors, $i);
    }
}


@for $i from 1 through length($width){
  #navigation a:nth-last-of-type(#{$i}){
    width:  nth($width, $i);
    }
}


@for $i from 1 through length($margin){
  #navigation a:nth-last-of-type(#{$i}){
    margin-right:  nth($margin, $i);
    }
}


#navigation{
  width: 100%;
  margin: 0 0 0 -15px;
  padding: 0;
    a{
       @include transition;
      text-decoration: none;
      color: black;
      font-family: $title-font;
      display: block;
      font-size: 0.5rem;
      opacity: .8;
      &:hover{
        opacity: .9;
        width: 100%;
        margin: 0;
     }
      &:active{
       opacity: 1;
     }
    }
 }



// select
select {
    font-size: 0.5em;
    border: 1px solid $dark-green;
    font-family: $title-font;
    border-radius: 10px;
    color: black;
    padding: 12px;
    width: 300px;
    -webkit-appearance: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
    background-color: $dark-green;
    background-transparency: 0.5;
    background-position: right 15px top 22px;
    background-size: 18px 18px;
    &:active{
      border: 1px solid #000;
    }
}



// content
.story-container{
  @include transition;
  // padding: 5px;
}


.label{
    font-size: 0.5em;
    border: 1px solid $dark-green;
    font-family: $title-font;
    border-radius: 10px;
    color: black;
    padding: 10px;
    width: 200px;
    margin-left: 20px;
    -webkit-appearance: none;
    background-color: $dark-green;
}

.line{
  width: 100%;
  border-top: 2px solid grey;
  margin-bottom: 40px;
}

.about{
  p{
    font-family: $title-font;
    font-size: 15px;
    }
    text-align: justify;
}

.bg-ca{
  background-image: image-url("bg-ca.png");
  background-position: 550px;
  background-repeat: no-repeat;
  h1{
    margin-bottom: 10px;
  }
}

// Map

#map {
  width: 960px;
  height: 500px;
}

.county {
  @include transition;
  fill: $orange;
  stroke: black;
  // &:hover{
  // fill: $red
  //   }
}

.selected_county {
  @include transition;
  fill: $red;
  stroke: black;
  cursor: pointer;
}


.county_db, .non_selected_location{
  @include transition;
  fill: $blue;
  stroke: black;
  &:hover{
  fill: $red;
  }
}

#legend{
  text-align: center;
  font-family: $title-font;
  font-size: 15px;
  height: 100px;
  width: 150px;
  position: absolute;
  border-radius: 10px;
  top: 50px;
  right: 65%;
  background-color: $dark-green;
}

